doctype html
head
  link(rel='stylesheet' href='/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
body
  .player
    canvas
    .song
      .artist#artist #{artist}
      .name#name #{songName}
    .playarea
      .prevSong#prev(onclick="prev()")
      .play#play(onclick="play()")
      .pause#pause(onclick="pause()")
      .mute#mute(onclick="mute()")
      .nextSong#next(onclick="next()")
    .soundControl
    .time#time #{time_ms}
  script.
      const socket = io();
      if(isOwner) {
         setInterval(async () => {
            try {
               const curr = await axios.get(`${process.env.HOST_URL}/user/currently`);
               const room = await axios.get(`${process.env.HOST_URL}/rooms/get?id=${id}`);
               if(curr.data.songId != room.data.LastPlayed){
                   await axios.post(`${process.env.HOST_URL}/rooms/set?roomId=$${id}&songId=${curr.data.songId}&ms=${curr.data.progress}&isPlaying=true`);
               } else if(curr.data.is_playing == false){
                   await axios.post(`${process.env.HOST_URL}/rooms/set?roomId=$${id}&songId=${curr.data.songId}&ms=${curr.data.progress}&isPlaying=false`);
               }
            }
            catch (e){

            }, 1000);
        }
      } else {

        setInterval(async () => {
            try {
               const curr = await axios.get(`${process.env.HOST_URL}/user/currently`);
               const room = await axios.get(`${process.env.HOST_URL}/rooms/get?id=${id}`);
               if(curr.data.songId != room.data.LastPlayed){
                   await axios.post(`${process.env.HOST_URL}/user/play/track?id=$${room.data.LastPlayed}&ms=${curr.data.progress}`);
               }  else if(curr.data.is_playing == false){
                   await axios.post(`${process.env.HOST_URL}/user/pause`);
               }
            }
            catch (e){

            }, 1000);
      // Subscribe to the room with ${id}
        socket.on("playback", data =>
        {
          console.log(data)
          if(data)
        {
          this.document.getElementById("time").innerHTML = data.progress;
          this.document.getElementById("name").innerHTML = data.name;
          this.document.getElementById("artist").innerHTML = data.artist;
        }
        })
        socket.on("pause", data =>
        {
          console.log(data)
          if(data)
        {
            $.post('/user/pause', function(data) {
             document.getElementById("pause").style.display = "none";
             document.getElementById("play").style.display = "inline-block";
            }); pause();
        }
        }
        socket.on("play", data =>
        {
          console.log(data)
          if(data)
        {
            $.post('/user/play', function(data) {
             document.getElementById("pause").style.display = "inline-block";
             document.getElementById("play").style.display = "none";
            });
        }
        }
        socket.on("seek", data =>
        {
          console.log(data)
          if(data)
        {
            $.post(`/user/play/track?room=${data.roomId}&ms=${data.ms}`, function(data) {
             document.getElementById("pause").style.display = "inline-block";
             document.getElementById("play").style.display = "none";
            });
        }
    };
script(src='https://code.jquery.com/jquery-1.11.1.js')
//- script(src='../public/client.js')
script.
      function play(){
        if(isOwner){
         $.post('/play/track', function(data) {
           document.getElementById("pause").style.display = "inline-block";
           document.getElementById("play").style.display = "none";
          });
        }
      };
      function pause(){
        if(isOwner){
          $.post('/pause', function(data) {
           document.getElementById("pause").style.display = "none";
           document.getElementById("play").style.display = "inline-block";
          });
      };
      function next(){
        if(isOwner){
          $.post('/next', function(data) {
          });
        } else {
        }
      };
      function prev(){
        if(isOwner){
          $.post('/prev', function(data) {
          });
        }
      };
      function seek(){
        if(isOwner){
          $.post('/seek', function(data) {
          });
        }
      }
      function mute(){
      
      }
    }


